:root{
    --colour-primary: #00792e;
    --colour-secondary:#692104 ;
}

.bg-primary{
    background-color: var(--colour-primary);
}
.bg-secondary{
    background-color:var(--colour-secondary);
}
.bg-white{
    background-color: #fff;
}

.text-primary{
    color :  var(--colour-primary);
}
.text-secondary{
    color:   var(--colour-secondary);
}
.text-white{
    color: #fff;
}
.text-sm{
    font-size: 14px;
}
.text-md{
    font-size: 18px;
}
.text-lg{
    font-size: 20px;
}
.text-xl{
    font-size:30px;
}
.text-2xl{
    font-size:35px;
}
.text-3xl{
    font-size:40px;
}